<h1>Showing selected article</h1>
<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.descripton %></p>

	<tr>
		<td><%= link_to 'Back to articles listing', articles_path %></td>
		<td><%= link_to 'Edit', edit_article_path %></td>
	</tr>